.article__foto {
    display: block;
    width: 100%;
    height: 282px;
 }
 
 
 @media screen and (max-width: 650px) {
    .article__foto {
       object-fit: cover;
       height: 551px;
    }
 }

 @media screen and (max-width: 500px) {
   .article__foto {  
      height: 472px;
   }
}

@media screen and (max-width: 400px) {
   .article__foto {  
      height: 282px;
   }
}