@import url(__description/article__description.css);
@import url(__foto/article__foto.css);
@import url(__like/article__like.css);
@import url(__name/article__name.css);
@import url(__basket/article__basket.css);
@import url(__like/_active/article__like_active.css);
@import url(__like-amount/article__like-amount.css);
@import url(__like-container/article__like-container.css);

.article {
    position: relative;
    width: 282px;
    margin-right: 1.5%;
    margin-bottom: 21px;
    border-radius: 10px;
    overflow: hidden;
}

.article:nth-child(3n) {
    margin-right: 0;
}


@media screen and (max-width: 882px) {
    .article {
        margin: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 650px) {
    .article {
        width: 100%;
    }
}