.profile__edit {
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background-color: black;
    background-image: url(../../../images/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    position: absolute;
    top: 30px;
    right: -35px;
}

.profile__edit:hover {
    opacity: 0.6;
    transition: 1s linear;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        top: 20%
    }
}